body,
html {
    /* height: 100%; */
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(facebook-bgimgs.png);
    /* background-repeat: no-repeat; */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #f0f2f5; */
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.login-box h1 {
    color: #000000;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #166fe5;
}

.login-box a {
    display: block;
    margin: 10px 0;
    color: #1877f2;
    text-decoration: none;
}

.login-box .create-account {
    background-color: #42b72a;
}

.login-box .create-account:hover {
    background-color: #36a420;
}
